$color-primary: #f1cdb3;
$color-primary-light: rgba(253, 220, 196, 1);
$color-dark-xl: rgba(76, 76, 76, 1);
$color-dark-l: rgba(84, 84, 84, 1);
$color-dark-m: rgba(178, 178, 178, 1);
$color-dark-s: rgba(205, 205, 205, 1);
$color-light-xl: rgb(255, 255, 255, 1);
$color-light-l: rgba(246, 246, 246, 1);
$color-light-s: rgba(250, 250, 250, 1);
$color-dark-3xl: rgba(41, 41, 41, 1);
